<!DOCTYPE html>
<html>
  <head>
    <title>500 error</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/danmaku.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
  </head>
  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>
